# Cython build artifacts
dispersing/fast_utilities.c
dispersing/fast_utilities.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Tool caches
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Logs
*.log

# Sphinx documentation
docs/_build/

# pyenv python configuration file
.python-version

.ipynb_checkpoints/
